.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
  color: var(--ifm-color-primary);
  background: var(--ifm-color-primary-lightest);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.featureIcon:hover {
  transform: scale(1.1);
  color: var(--ifm-color-primary-dark);
  background: var(--ifm-color-primary-lighter);
} 